@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 100% 97%;
    --foreground: 229 85% 23%;
    --card: 0 0% 100%;
    --card-foreground: 229 85% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 229 85% 23%;
    --primary: 229 85% 23%;
    --primary-foreground: 0 0% 98%;
    --secondary: 225 100% 94%;
    --secondary-foreground: 229 85% 23%;
    --muted: 225 100% 94%;
    --muted-foreground: 229 85% 40%;
    --accent: 45 91% 38%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 229 85% 85%;
    --input: 229 85% 85%;
    --ring: 229 85% 23%;
    --radius: 0.8rem;
    --chart-1: 229 85% 23%;
    --chart-2: 225 100% 94%;
    --chart-3: 45 91% 38%;
    --chart-4: 45 80% 65%;
    --chart-5: 0 30% 70%;
  }
 
  .dark {
    --background: 229 85% 5%;
    --foreground: 0 0% 98%;
    --card: 229 85% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 229 85% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 229 85% 23%;
    --secondary: 229 85% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 229 85% 15%;
    --muted-foreground: 229 85% 70%;
    --accent: 45 91% 45%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 229 85% 15%;
    --input: 229 85% 15%;
    --ring: 0 0% 98%;
    --chart-1: 0 0% 98%;
    --chart-2: 229 85% 15%;
    --chart-3: 45 91% 50%;
    --chart-4: 45 80% 75%;
    --chart-5: 0 30% 80%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full p-8 sm:p-12 md:p-16 flex flex-col items-center justify-center relative overflow-hidden;
  }
}
