@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 84% 97%;
    --foreground: 240 3% 12%;
    --card: 222 84% 97%;
    --card-foreground: 240 3% 12%;
    --popover: 222 84% 97%;
    --popover-foreground: 240 3% 12%;
    --primary: 226 73% 22%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 4% 90%;
    --secondary-foreground: 240 3% 12%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 34%;
    --accent: 45 74% 49%;
    --accent-foreground: 240 3% 12%;
    --destructive: 45 98% 50%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 3% 12%;
    --chart-1: 240 3% 12%;
    --chart-2: 240 4% 34%;
    --chart-3: 240 5% 53%;
    --chart-4: 240 4% 65%;
    --chart-5: 240 6% 90%;
  }
 
  .dark {
    --background: 222 84% 4%;
    --foreground: 210 40% 98%;
    --card: 0 59% 25%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 226 73% 22%;
    --secondary: 222 84% 4%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 84% 4%;
    --muted-foreground: 240 5% 53%;
    --accent: 45 74% 49%;
    --accent-foreground: 240 3% 12%;
    --destructive: 45 98% 50%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 59% 25%;
    --input: 0 59% 25%;
    --ring: 210 40% 98%;
    --chart-1: 210 40% 98%;
    --chart-2: 240 5% 53%;
    --chart-3: 240 4% 34%;
    --chart-4: 240 4% 65%;
    --chart-5: 222 84% 4%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background-color: hsl(var(--background));
    background-image: url('/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  section {
    @apply w-full p-8 sm:p-12 md:p-16 flex flex-col items-center justify-center relative overflow-hidden;
  }
}
