@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 60% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 60% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 60% 10%;
    --primary: 0 60% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 10% 96%;
    --secondary-foreground: 0 60% 10%;
    --muted: 0 10% 96%;
    --muted-foreground: 0 10% 45%;
    --accent: 45 90% 55%;
    --accent-foreground: 0 60% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 10% 89%;
    --input: 0 10% 89%;
    --ring: 0 60% 30%;
    --radius: 0.8rem;
    --chart-1: 0 60% 40%;
    --chart-2: 45 90% 60%;
    --chart-3: 0 50% 60%;
    --chart-4: 45 80% 65%;
    --chart-5: 0 30% 70%;
  }
 
  .dark {
    --background: 0 60% 5%;
    --foreground: 0 0% 98%;
    --card: 0 60% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 0 60% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 55% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 50% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 50% 15%;
    --muted-foreground: 0 5% 63%;
    --accent: 45 90% 60%;
    --accent-foreground: 0 60% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 50% 15%;
    --input: 0 50% 15%;
    --ring: 0 55% 55%;
    --chart-1: 0 60% 50%;
    --chart-2: 45 90% 60%;
    --chart-3: 0 50% 70%;
    --chart-4: 45 80% 75%;
    --chart-5: 0 30% 80%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply min-h-screen w-full p-8 sm:p-16 md:p-24 flex flex-col items-center justify-center relative overflow-hidden;
  }
}
